{% extends "base.html" %}
{% block title %}{{ block.super }} | Entreprises {% endblock %}
{% block main %}
	<h1>Les entreprises</h1>
	<br/>
	<div class="menu col-xs-12 col-sm-2 col-lg-2">
	<a class="btn btn-primary" href="{% url 'addEnt' %}">Ajouter</a><br/>
	<a class="btn btn-danger" href="{% url 'delEnt' %}">Supprimer</a>
	</div><br/>
	<div class="col-xs-12 col-sm-offset-1 col-lg-offset-1 col-sm-9 col-lg-9">
	<ul>
		{% for e in liste_entreprise %}
			<li><a href="/entreprise/{{ e.pk }}">{{ e }}</a></li><br/>
		{% endfor %}
	</ul>
	</div>
{% endblock %}
{% block js %}active_tab="#tab-entreprise"{% endblock %}