<!doctype html>
<html>
	<head>
		<title>App de gestion des entreprises</title>
	</head>
	<body>
	Bienvenue dans la gestion des entreprises
	<ol>
		<li><a href="{% url 'Ent' %}">Entreprises</a></li>
		
	</ol>
	</body>

</html>