{% extends "base.html" %}
{% block title %}{{ block.super }} | Détails {% endblock %}
{% block heading %}Entreprise {{ entreprise.nom }} | Détails{% endblock %}
{% block main %}

<div id="visite" class="col-xs-12 col-sm-3 col-lg-3">

	<label>Départ : </label></br><input type="text" class="form-control" id="origin" value="563 rue de champdoux, saint denis en val france"/></br></br>
	<label>Etape(s) : </label></br><table id="listEtapeAjoutee" class="table table-striped"></table></br>
	<label>Destination : </label></br><input type="text" class="form-control" id="destination" value="IUT rue d'issoudun orleans france"/></br></br>

	<div id="etapes">
		<label>Ajouter une étape : </label>


		<div class="input-group">
			<span class="input-group-btn">
				<button id="addEtape_entreprise" class="btn btn-primary" onclick="addWaypoint_ent();" >+</button>
			</span>
			<select class="form-control" id="listeEntreprises">
				{% for e in liste_entreprise %}
				<option value={{ e.pk }}>{{ e }}</option>
				{% endfor %}
				<option value="" selected >Entreprise</option>
			</select>
		</div><br/>
		<div class="input-group">
			<span class="input-group-btn">
				<button id="addEtape_adresse" class="btn btn-primary" onclick="addWaypoint_ad();" >+</button>
			</span>
			<input type="text" class="form-control" id="etape" placeholder="Adresse..."/>
		</div>


	</div><br/><br/>

	
	<button class="btn btn-primary" id="init" onclick="afficherItineraire(0);">Afficher itineraire</button>

</div>

<div id="map" class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-0 col-sm-8 col-md-8 col-lg-9">



	<a class="btn btn-success" href="#" id="AR" onclick="afficherItineraire(1);">Reverse Itineraire</a>
	<a class="btn btn-success" href="#" id="cacher" onclick="cacherCarte();">Cacher</a>


	<div id="map_canvas"></div>

</div>

<div id="EmplacementItineraireTexte" class="col-xs-12 col-sm-offset-1 col-md-offset-1 col-lg-offset-0 col-sm-8 col-md-8 col-lg-9"></div>


{% endblock %}


{% block libraries %}{{ block.super }}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyClLs2VYw0M6qwQOFf5odeRDhpSIJlADS0&sensor=false"></script>


{% endblock %}

{% block js %}
active_tab="#tab-entreprise";
$('#cacher').hide();
$('#itineraire').hide();
$('#AR').hide();
var map;
var geocoder;
var etape;
var markers = [];
var waypoints = [];
var nbEtape="etape";

function initialize() {
geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(47.873416,1.912208);
var mapOptions = {
zoom: 15,
//center: latlng
}
map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

}




function initializeItineraire(type) {
$('#map_canvas').empty();
$('#map_canvas').show();
$('#EmplacementItineraireTexte').hide();
$('#cacher').show();
$('#AR').show();

if(type===0)
{
	orign=$("#origin").val();
	adr=$("#destination").val();
}
else
{
	orign=$("#destination").val();
	adr=$("#origin").val();
}



$('#EmplacementItineraireTexte').empty();
var optionsCarte = {
zoom: 8,

mapTypeId: google.maps.MapTypeId.ROADMAP
}
var itineraireCarte = new google.maps.Map(document.getElementById("map_canvas"), optionsCarte);

var optionsItineraireAffichage = {
map: itineraireCarte,
panel: document.getElementById("EmplacementItineraireTexte")
}
var itineraireAffichage = new google.maps.DirectionsRenderer(optionsItineraireAffichage);

var itineraireService = new google.maps.DirectionsService();

var itineraireRequete = {
origin: orign,
destination: adr,
waypoints: waypoints,
travelMode: google.maps.TravelMode.DRIVING
}

itineraireService.route(itineraireRequete, function(itineraireResultat, itineraireCodeStatut) {

if (itineraireCodeStatut === google.maps.DirectionsStatus.OK) {
itineraireAffichage.setDirections(itineraireResultat);

}else{
alert('Erreur : ' + itineraireCodeStatut);
}
});

directionsVisible = true;

}





function cacherCarte()
{
	$('#map_canvas').empty();
	$('#cacher').hide();
	$('#itineraire').hide();
	$('#AR').hide();
	$('#EmplacementItineraireTexte').hide();
	$('#map_canvas').hide();
	$('#visite').append($('#init'));
}

function afficherItineraire(type)
{
	$('#map_canvas').empty();
	initializeItineraire(type);
	$('#EmplacementItineraireTexte').show();

} 


function clearWaypoints() {
markers = [];
orign = null;
etape = null;
adr=null;
waypoints = [];
directionsVisible = false;
}

function addWaypoint_ad()
{ 
	if($("#etape").val()!="")
	{


	etape=$("#etape").val();
	waypoints.push({location: etape, stopover: true});
	$("#listEtapeAjoutee").append("<tr><td>"+etape+"</td></tr>");
	$("#etape").val("");
}

}

function addWaypoint_ent()
{

if ($('#listeEntreprises option:selected').val() != "") {

	var liste = document.getElementById("listeEntreprises");
	var tabEntreprise = [];
	{% for e in liste_entreprise %}
	tabEntreprise.push('{{e.adresse}} {{e.codePostal}} {{e.ville}} {{e.pays}}');
	{% endfor %}




	for (var i=0;i < liste.options.length;i++)
	{ 

		if(liste.options[i].selected===true)
		{ 
			etape=tabEntreprise[i];
		}
	}


waypoints.push({location: etape, stopover: true});
$("#listEtapeAjoutee").append("<tr><td>"+etape+"</td></tr>");
$("#etape").val("");

}

}

//563 rue de champdoux, saint denis en val france
//23 rue des pensées orleans france
//IUT rue d'issoudun orleans france
//321 rue de l'orme tiseau trainou france
{% endblock %}










