{% extends "base.html" %}
{% block title %}{{ block.super }} | Détails {% endblock %}
{% block main %}

<span class="details_etu">
<h1 class="page-heading">{{ stage.intitule }} <small>{{ stage.etudiant }}</small><a class="pull-right btn btn-primary" href="/stage/modifier/{{ stage.pk }}">Modifier</a></h1> 
</span><br/>

<table class="table table-striped col-xs-12 col-lg-12">

	<tr><td><b>Intitulé :</b></td><td> {{ stage.intitule }}</td></tr> 
	<tr><td><b>Sujet :</b></td><td> {{ stage.sujet }}</td></tr> 
	<tr><td><b>date de début :</b></td><td> {{ stage.dateDebut }}</td></tr> 
	<tr><td><b>date de fin :</b></td><td> {{ stage.dateFin }}</td></tr> 
	<tr><td><b>Entreprise :</b></td><td> {{ stage.entreprise.nom }}</td></tr> 
	<tr><td><b>Adresse :</b></td><td> {{ stage.entreprise.adresse }}</td></tr> 
	<tr><td><b>Code postal :</b></td><td> {{ stage.entreprise.codePostal }}</td></tr> 
	<tr><td><b>Ville :</b></td><td> {{ stage.entreprise.ville }}</td></tr> 
	<tr><td><b>Tel :</b></td><td> {{ stage.entreprise.telephone }}</td></tr> 
	<tr><td><b>Fax :</b></td><td> {{ stage.entreprise.fax }}</td></tr> 
	<tr><td><b>Contact :</b></td><td> {{ stage.entreprise.contact }}</td></tr> 
	<tr><td><b>Convention :</b></td><td> {{ stage.entreprise.persConvention }}</td></tr> 
	<tr><td><b>Maitre de stage :</b></td><td> {{ stage.entreprise.maitreStage }}</td></tr> 

</table>

{% endblock %}
{% block js %}active_tab="#tab-stage"{% endblock %}
