{% extends "base.html" %}
{% block title %}{{ block.super }} | {{ actionAFaire }} {% endblock %}
{% block main %}
	<form action="" method="post">{% csrf_token %}
	<table>
		{{ form.as_table }}
		</table>
		<input class="btn btn-success" type="submit" value="{{ actionAFaire }}" />
	</form>
{% endblock %}
{% block js %}active_tab="#tab-stage"{% endblock %}