{% extends "base.html" %}
{% block title %}{{ block.super }} | Stages {% endblock %}
{% block main %}
<h1>Mes stages</h1>
<br/>
	<div class="menu col-xs-12 col-sm-2 col-lg-2">
	<a class="btn btn-primary" href="{% url 'addStage' %}">Ajouter</a><br/>
	<a class="btn btn-danger" href="{% url 'delStage' %}">Supprimer</a>
	</div>
	<ul class="col-xs-12 col-sm-offset-1 col-lg-8">
		{% for s in liste_stage %}
			<li><a href="/stage/{{ s.pk }}">{{ s }}</a></li><br/>
		{% endfor %}
	</ul>

{% endblock %}
{% block js %}active_tab="#tab-stage"{% endblock %}

