.navbar-default .navbar-brand {
    color: rgb(0, 0, 0);
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgb(0, 0, 0);
}

nav .btn-group {
	padding-top: 7px;
}

.dropdown-menu p {
	margin-left: 10px;
}

.jumbotron {
	text-align: center;
}

#visite, .menu {
	padding: 20px;
	border-radius: 8px;
	background: menu;
}

.menu a {
	width: 100px;
	display: block;
	margin: auto;
}

#map_canvas {
	height: 300px;
}

#map_canvas_details {
	height: 500px;
}

#EmplacementItineraireTexte {
	padding-top: 10px;
}

th, td {
	padding-right: 20px;
}

tr {
	height: 40px;
}

#visite #init {
	display: block;
	margin: auto;
}
